@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

@font-face {
    font-family: 'Aire Pro';
    src: local('Aire Pro'), local('Aire Pro'),
        url('assets/Aire Pro.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}